.column-container {
	width: 600px;
	height: 80px;
	border-top: 4px solid #02cab9;
	margin: 0 5px;
	text-align: center;
}

.column-container .title-box {
	margin: 10px 0;
	text-transform: capitalize;
}

.column-container .time-slot {
	padding: 3px 0;
	border: 1px solid transparent;
	font-size: 0.75rem;
	transition: opacity 0.5s ease-in;
}

.gray-out {
	border-top: 4px solid #d2d2d2;
	color: #d2d2d2;
}

.col-gray-out {
	display: none;
}
