.controls-container {
	display: inline-block;
}

.controls-container button {
	line-height: 1;
	cursor: pointer;
	background-color: #fff;
	outline: none;
	padding: 7px 15px;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid #dcdfe6;
}

.controls-container button > i {
	color: #606266;
}

.controls-container #left {
	margin-right: -1px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.controls-container #right {
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.controls-container button:hover {
	border-color: rgba(2, 202, 185, 0.95);
}

.controls-container button:hover > i {
	color: #02cab9;
}

.controls-container button:disabled {
	cursor: not-allowed;
	border-color: #ebeef5;
}

.controls-container button:disabled > i {
	color: #c0c4cc;
}

.controls-container button:disabled:hover {
	border-color: #ebeef5;
}
