.header-container {
	position: relative;
}

.header-container .title {
	font-size: 20px;
	font-weight: 500;
	margin: 20px 0;
}

.header-container .title::first-letter {
	text-transform: capitalize;
}

.header-container .current-week {
	display: inline-block;
	padding-left: 15px;
	width: 150px;
}

.header-container .timezone-info {
	display: inline-block;
	float: right;
	text-align: right;
	font-size: 12px;
	line-height: 25px;
}

.header-container .select-language {
	position: absolute;
	text-transform: capitalize;
	top: 0;
	right: 0;
}

.header-container .select-language > label {
	margin-right: 5px;
}
